body {
	margin: 0;
	font-family: 'Truculenta', sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	width: 1236px;
	margin: auto;
	min-height: 100vh;
	background: #b89276 ;
	display: grid;
	gap: 30px;
	grid-template-rows: 70px 1fr 50px;
}
header, footer {
	background-color:  #542e24 ;
	color:  #fff;
	padding: 0 30px;
	display: flex;
	align-items: center;
}
nav {
	display: flex;
	gap: 20px;
}
header {
	justify-content: space-between;
	font-size: larger;
}
footer {
	justify-content: center;
}

h1, h2, h3 {
	margin: 0;
}

main {
	padding: 0 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: flex-start;
	justify-content: center;
	gap: 30px;
}
.card {
	display: flex;
	flex-direction: column;
	gap:  20px;
	padding: 10px;
	border:  1px solid;
	background-color:  #542e24 ;
}
.card-pic {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #dedede;
	height: 350px;
	width: 350px;
}
.card h2 {
	text-align: center;
	color: white;
}

.popup-wrapper {
	position: fixed;
	top:  0;
	left:  0;
	right:  0;
	bottom:  0;
	background-color: #0008;
	backdrop-filter: blur(1px);
	justify-content: center;
	align-items: center;
	display:  none;
}
.popup-wrapper.active {
	display: flex;
}

.popup {
	width: 300px;
	padding: 20px;
	background-color: #fff;
	position: relative;
	display: none;
	background-color: #b89276;
}
.popup.active {
	display: block;
}
.popup__close {
	width: 30px;
	height: 30px;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:  pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}
.popup__close:hover {
	background-color: #542e24;
	color:  #b89276;
	border-color: #542e24;
}
.popup__close::after {
	content: "\26CC";
}

form {
	display: grid;
	gap:  20px;
	color: #542e24;
}

form input, textarea{
	background-color: #b89276;
	color: #542e24;
	border-color: #542e24;
}

form input::placeholder{
	color: #542e24;
}

form textarea{
	resize: vertical;
	width: 295px;
}

form textarea::placeholder{
	color: #542e24;
}

button{
	background: #542e24;
  	background-color: rgb(84, 46, 36);
	color: #542e24;
	border: #542e24;
	box-shadow: 2px 2px 2px #542e24ed, -0.2em 0 .4em #542e24;
	background-color: #b89276;
    border-radius: 5px;
}